*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.c-white{
    color: white;
}

/*header*/

.v-align{
    vertical-align: middle;
}

.d-inlineblock{
    display: inline-block;
}

/*end header*/

/*main*/

.b-task{
    background-color:#47ABF2;
    border-radius: 5px;
    padding: 5px;
}

.b-section{
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}

/*end main*/