*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat"
}

body{
    background-color: grey;
}

.c-white{
    color: white;
}

.bg-white{
    background-color: white;
}

.container{
    padding: 20px;
}

/*header*/

.v-align{
    vertical-align: middle;
}

.d-inlineblock{
    display: inline-block;
}

/*end header*/

/*main*/

main{
    width: 900px;
    margin: 50px auto 0 auto;
}

.task{
    background-color:#47ABF2;
}

.section{
    color: grey;
    border: 1px solid grey;
}

.border-btn{
    border-radius: 5px;
    padding: 5px;
}

ul{
    list-style: none;
    margin: 20px 0px 20px 0px;
}

li{
    margin: 10px;
}

.circle{
    border-radius: 50%;
    margin-right: 5px;
}

.check{
    color: green;
    border: 1px solid green;
}

.cross{
    color: red;
    border: 1px solid red;
}

.border{
    border-radius: 15px;
    padding: 5px;
}

.font-size{
    font-size: smaller;
}

.editorial{
    background-color:#47ABF2;
}

.goals{
    background-color:purple;
}

.recruit{
    background-color:green;
}

.mobile{
    background-color:orange;
}

.web{
    background-color:pink;
}

.sales{
    background-color: brown;
}

/*end main*/